@font-face {
    font-family: "TT Norms";
    src: url("/assets/fonts/TTNorms-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "TT Norms";
    src: url("/assets/fonts/TTNorms-Bold.ttf");
    font-weight: 700;
}